/* --------------------------- */
/* color css */
/* --------------------------- */
header#navbar .dropdown-menu,
header#navbar,
header#navbar  nav {
  background-color:#5E7182;
}
header#navbar .navbar-nav>li>a,
header#navbar li>a:focus, 
header#navbar li>a:hover,
header#navbar li>a.active, 
header#navbar li a:focus, 
header#navbar li a:hover,
header#navbar li a.active,
header#navbar .dropdown-menu>li>a:focus,
header#navbar .dropdown-menu>li>a:hover,
header#navbar .dropdown-menu>li>a.active,
header#navbar .dropdown-menu>li>a,
.carousel-homeslider-header-navyblue-slider .carousel-caption .cta-button {
  color: #ffffff;
}
header#navbar  .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
header#navbar  .navbar-toggle,
.carousel-homeslider-header-navyblue-slider .carousel-indicators  li.active {
  background-color: #34495E;  
}
.carousel-homeslider-header-navyblue-slider .carousel-indicators  li{
  background-color: #9DADBC;
}
.carousel-homeslider-header-navyblue-slider .carousel-caption .title {
  color:#33495E;
}
.carousel-homeslider-header-navyblue-slider .carousel-caption .cta-button {
  background-color: #33495E;
  border-color:#ffffff;
}
@media (max-width: 767px) {
  ul.navbar-nav {
    background-color:#5E7182;
    border-color:#5E7182;
  }
  .dropdown-menu>li>a,
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a.active,
  header#navbar #navigation ul > li .active,
  header#navbar .navbar-nav > li > a:hover  {
    color: #ffffff;
  }  
}


/* --------------------------- */
/* color css */
/* --------------------------- */
/***************************************************************/
/****************   Content dark pink starts *******************/
/***************************************************************/
.content-dark-pink {
  background-color: #ffffff;
}
.content-dark-pink a,
.content-dark-pink h2{
  color: #d94650;
}
.content-dark-pink h3,
.content-dark-pink h4,
.content-dark-pink h5,
.content-dark-pink h6,
.content-dark-pink {
  color: #4c4c4c;
}
.content-dark-pink .btn {
  background-color: #d94650;
  border-color: #d94650;
  color: #ffffff;
}
.content-dark-pink .btn:hover {
  background-color: #c63f48;
  border-color: #c63f48;
}
.content-dark-pink .underline,
.content-dark-pink h3 { 
  border-color: #4c4c4c;
}
/***************************************************************/
/****************   Content dark pink end    *******************/
/***************************************************************/


/* --------------------------- */
/* color css */
/* --------------------------- */
.content-pink .top-header .title {
  color: #db4453;
} 

.content-pink .top-header .description {
  color: #4d4d4d;
}

.content-pink .content-boxes .content-box .title {
  color: #db4453;
 }

.content-pink .content-boxes .download-links .download-buttons {
  background-color: #db4453;
  color: #ffffff;
}

.content-pink .content-boxes .content-pink-video {
  color: #db4453;
}

/* --------------------------- */
/* color css */
/* --------------------------- */
footer#footer {
  background: #2d3e50;
}
footer#footer, 
footer#footer .footer-menu ul li a,
footer#footer .footer-copyright a{
  color: #ffffff;
}
footer#footer .footer-menu ul li a:hover,
footer#footer .footer-menu ul li a:focus {
  background: transparent;
}


