/* --------------------------- */
/* css code */
/* --------------------------- */
body.navbar-is-fixed-top {
  padding-top: 0px;
}
body.not-front.navbar-is-fixed-top {
  padding-top: 85px;
}
body.not-front.navbar-is-static-top header#navbar{
  margin-bottom: 10px;
}

header#navbar.navbar-static-top {
  position:relative;
}
body.front header#navbar.navbar-static-top {
  position: absolute;
  margin-bottom: 0px;
  width: 100%;
  top: 0;
}
body.navbar-is-default header#navbar {
  margin-bottom: 15px;
  position: relative;
}
header#navbar {
  font-family:roboto;
  margin-bottom: 0px;
}
header#navbar a.logo {
  margin-top: 5px;
  margin-bottom: 5px;
}
header#navbar a.logo img {
  height: 40px;
}
header#navbar #nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}
header#navbar  nav{
  max-height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity:0.8;
}

header#navbar .navbar-nav>li  {
  margin-top:10px;
}

header#navbar .navbar-nav>li>a {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

header#navbar li>a:focus, 
header#navbar li>a:hover,
header#navbar li>a.active, 
header#navbar li a:focus, 
header#navbar li a:hover,
header#navbar li a.active,
header#navbar .dropdown-menu>li>a:focus,
header#navbar .dropdown-menu>li>a:hover,
header#navbar .dropdown-menu>li>a.active,
header#navbar .dropdown-menu>li>a {
  background:transparent;
}

header#navbar  #navigation {
  border:none;
  min-height:1px;
}

header#navbar  .navbar-toggle {
  border-radius: 0px;
}
.view-q-homeslider-header-navyblue-slider {
  font-family:roboto;
  font-weight: normal;
}

.carousel-homeslider-header-navyblue-slider .carousel-indicators {
  bottom: 40%;
  right: 20px;
  left: auto;
  width: auto;
  
}
.carousel-homeslider-header-navyblue-slider .carousel-inner>.item>img {
  width: 100%;
}
.carousel-homeslider-header-navyblue-slider .carousel-indicators  li{
  border-radius:0px;
  width: 16px;
  height: 16px;
  border: none;
  margin-bottom: 10px;
  float: left;
  clear: both;
  margin-left:0px;
  margin-right:0px;

}
.carousel-homeslider-header-navyblue-slider .carousel-indicators  li.active{
  margin-left:0;
  margin-right:0;
}
.carousel-homeslider-header-navyblue-slider .carousel-caption .title {
  font-size:4em;
  font-weight:normal;
  text-shadow: none;
}
.carousel-homeslider-header-navyblue-slider .carousel-caption .desc {
  font-size: 2em;
  display: block;
  margin-bottom:25px;
  font-weight:normal;
  text-shadow: none;

}
.carousel-homeslider-header-navyblue-slider .carousel-caption .cta-button {
  border-radius: 0px;
  padding: 10px 30px;
  border:2px solid #ffffff;
  text-shadow: none;
}
.carousel-homeslider-header-navyblue-slider .carousel-caption {
  top:35%;
}


/* --------------------------- */
/* style css */
/* --------------------------- */
/***************************************************************/
/****************   Content dark pink starts *******************/
/***************************************************************/
.content-dark-pink {
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: 'Roboto';
}
.content-dark-pink h2 {
  margin-bottom: 20px;
  font-family: roboto;
}
.content-dark-pink h3 {
  font-size: 22px;
  padding-top: 20px;
  border-top: 1px solid;
  font-weight: normal;
  font-family: roboto;
}
.content-dark-pink .content-image {
  padding-bottom: 20px;
}
.content-dark-pink .content-image img{
  max-width: 100%;
}
.content-dark-pink .content-texts{
  
}
.content-dark-pink .content-links{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
}
.content-dark-pink .underline {
  border-bottom: 1px solid;
}
.content-dark-pink .content-desc{
  line-height: 2em;
  font-size: 16px;
}
.content-dark-pink .content-services{
  line-height: 2em;
  font-size: 16px; 
}
.content-dark-pink .content-services ul {
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 20px;
  list-style-type: square;
  
}
.content-dark-pink .btn {
  background-image: none;
  text-shadow: none;
  font-size: 18px;
}
.content-dark-pink a:hover {
  text-decoration: underline;
}
.content-dark-pink a.btn:hover {
  text-decoration: none;
}
.content-dark-pink li {
  margin-bottom: 10px;
}

/***************************************************************/
/****************   Content dark pink end    *******************/
/***************************************************************/


/* --------------------------- */
/* style css */
/* --------------------------- */
.content-pink {
  font-family: 'Roboto', sans-serif;
  padding-top: 27px;
  padding-bottom: 27px;
}

.content-pink .top-header {
  padding-left:15px;
  
}

.content-pink .top-header .title {
  font-size: 2.5em;
  margin-bottom: 9px;
}

.content-pink .top-header .description {
  font-size: 1.24em;
  margin-bottom: 24px;
}

.content-pink .content-boxes .content-box .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 12px;
 }

 .content-pink .content-boxes .content-box .description {
  font-size: 1.20em;
  margin-bottom: 27px;
}
 
.content-pink .content-boxes .download-links .download-buttons {
  display: inline-block;
  font-size: 1.6em;
  margin-right: 27px;
  width: 220px;
  height: 41px;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 6px;
}

.content-pink .content-boxes .download-links .download-buttons i {
  font-size: 1.1em;
  padding-left:10px;
}

.content-pink .content-boxes .download-links {
  margin-top: 20px;
}

.content-pink .content-boxes .content-pink-video {
  margin-top: 10px;
  padding-right:0;
 
}

.content-pink .content-pink-video { 
  position: relative; 
  padding-bottom: 0; 
  height: 0; 
  overflow: visible; 
  max-width:   100%; 
} 
.content-pink .content-pink-video iframe, 
.content-pink .content-pink-video object, 
.content-pink .content-pink-video embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: auto; 
}

/* --------------------------- */
/* main css */
/* --------------------------- */
footer#footer {
  font-family: 'Roboto', sans-serif;
  padding-bottom:40px;  
  padding-top:45px;
}
footer#footer .footer-menu .menu-wrap{
  text-align: center;
  display: inline-block;
  margin-top:20px;
}
footer#footer .footer-menu ul li a{
  padding: 0px 15px;
  font-weight: normal;
  font-size: 1.4em;
}
footer#footer .footer-menu ul li a:hover,
footer#footer .footer-menu ul li a:focus {
  text-decoration: underline;
}
footer#footer  .footer-copyright {
   margin-top: 15px;
}
footer#footer  .footer-copyright a{
   font-weight:bold;
}


