/* --------------------------- */
/* css code */
/* --------------------------- */
@media (max-width: 767px) {

  .carousel-homeslider-header-navyblue-slider .carousel-caption {
    bottom: auto;
    top: 0px;
  }

  .carousel-homeslider-header-navyblue-slider .carousel-indicators {
    bottom: auto;
    top: 20px;
  }

  .carousel-homeslider-header-navyblue-slider .carousel-caption .desc {
    font-size: 1em;
    margin-bottom:10px;
  }

  .carousel-homeslider-header-navyblue-slider .carousel-caption .title {
    font-size:2.5em;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .carousel-homeslider-header-navyblue-slider .carousel-caption .cta-button {
    padding: 5px 15px;
    font-size: 1em;
  }

  .view-q-homeslider-header-navyblue-slider {
    margin-top:70px;
  }

  header#navbar .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
  }

  header#navbar  nav{
    opacity:1;
  }

  header#navbar .navbar-nav > li > a {
    border-right:none;
    padding: 10px;
  }
  .dropdown-menu>li>a,
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a.active,
  header#navbar #navigation ul > li .active {
    padding: 10px;
    text-transform: uppercase;    
  }
}


/* --------------------------- */
/* mobile css */
/* --------------------------- */
/***************************************************************/
/****************   Content dark pink starts *******************/
/***************************************************************/

@media (min-width: 768px) and (max-width: 992px) {  
  .content-dark-pink .content-desc {
    line-height: 1.8em;
    font-size: 14px;
  }
  .content-dark-pink li {
    margin-bottom: 5px;
  }
}
/***************************************************************/
/****************   Content dark pink end    *******************/
/***************************************************************/


/* --------------------------- */
/* mobile css */
/* --------------------------- */
@media (max-width: 767px) {

.content-pink {
  padding-top: 4px;
  padding-bottom: 20px;
}

.content-pink .top-header {
  padding-left: 15px;
  padding-right: 15px;
}
  
.content-pink .top-header .title {
  font-size: 34px;
  margin-bottom: 2px;
}

.content-pink .top-header .description {
  margin-bottom: 15px;
}

.content-pink .content-boxes .content-box .title {
  margin-bottom: 5px;
 }
 
.content-pink .content-boxes .content-box .description {
  font-size: 1.06em;
  margin-bottom: 13px;
}

.content-pink .content-boxes .download-links {
  margin: 0;
  text-align: center;
  margin-bottom: 6px;
}

.content-pink .content-boxes .download-links .download-buttons {
  margin: 15px;
  padding-left: 0; 
  margin-left: 0px;
  width: 100%;
}

.content-pink .content-boxes .content-pink-video {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 56.25%; 
  overflow: hidden; 
}

.content-pink .content-boxes .content-box {
  padding-right: 15px;
}

.content-pink .content-pink-video iframe, 
.content-pink .content-pink-video object, 
.content-pink .content-pink-video embed { 
  height: 100%; 
  width: 90%;
  margin-left:5%;
}

}

@media (min-width: 768px) and (max-width: 992px) {

.content-pink .content-boxes .content-box {
  width: 100%;
}

.content-pink .content-boxes .content-pink-video {
  margin-left: 16px;
  margin-top: 29px;
  width: 100%;
  padding-bottom: 56.25%; 
  overflow: hidden; 
}

.content-pink .content-boxes .download-links .download-buttons {
  margin-right: 17px;
}

.content-pink .content-pink-video iframe, 
.content-pink .content-pink-video object, 
.content-pink .content-pink-video embed { 
  height: 100%; 
}

}

@media (min-width: 993px) and (max-width: 1200px) {

.content-pink .content-boxes .content-box {
  width: 60%;
}

.content-pink .content-boxes .content-box .description {
  font-size: 1.15em;
  margin-bottom: 8px;
}

.content-pink .content-boxes .download-links {
  margin-top: 0px;
}

.content-pink .content-boxes .download-links .download-buttons {
  font-size: 1.3em;
  margin-right: 10px;
  width: 170px;
  padding-left: 18px;
  padding-top: 9px;
}

}

/* --------------------------- */
/* css code */
/* --------------------------- */
@media (max-width: 767px) {
  .footer-navy-blue .footer-menu ul li a{
    padding-bottom: 10px;
  }
}



